<h2>License</h2>

<section>
  <p>
    Copyright &copy; Minku Lee. All Rights Reserved.
  </p>
  <p>
    You cannot use photos for commerical or non-commercial use unless explicitly permitted.<br>
    <span class="lang-ko">명시적인 허락 없이는 비상업적 및 상업적 이용이 불가능합니다.</span>
  </p>
</section>

<section>
  <p>If you'd like to use my photos in any way(either commercial or non-commercial), reach me via public@premi.st and I will be happy to help.</p>
  <p class="lang-ko">만약 제 사진을 영리 혹은 비영리적인 목적으로 사용하길 원하신다면, public@premi.st로 연락 주시면 최대한 도와드리겠습니다.</p>
</section>