<section *ngIf="photo" id="{{ photo.id }}" class="photo">
  <div class="img"
       [style.backgroundImage]="'url(' + photo.original + ')'"></div>
  <div class="meta">
    <div class="title">
      <span>{{ photo.title }}</span>
    </div>
    <div class="exif">
      <span *ngIf="photo.capturedAtFormatted as c">{{ c }}</span>
      <span *ngIf="photo.exif.camera as c">{{ c }}</span>
      <span *ngIf="photo.exif.lens as l">{{ l }}</span>
      <span *ngIf="photo.fNumberFormatted as f" >{{ f }}</span>
      <span *ngIf="photo.exposureTimeFormatted as e">{{ e }}</span>
      <span *ngIf="photo.ISOFormatted as i">{{ i }}</span>
    </div>
  </div>
</section>
