@import "../less/common";

@meta-height-desktop: 32px;
@meta-height-mobile: 64px;

.photo {
  height: calc(~"96vh - 32px"); // 32px from header bar
  background-color: #000;
  color: #fff;
}

.img {
  display: block;
  width: 100%;
  height: calc(e(%("100% - 4vh - %s", @meta-height-desktop)));
  @media @mobile { height: calc(e(%("100% - 4vh - %s", @meta-height-mobile))); }
  margin: 0 auto;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.meta {
  // FIXME: Convert to flex
  height: calc(e(%("%s + 4vh", @meta-height-mobile)));
  overflow: scroll;

  padding: 2vh 2vw;
  @media @mobile { padding: 2vh 3vw; }

  line-height: 32px;
  text-align: center;

  div {
    margin: 0;
  }

  span {
    color: #ababab;
    white-space: nowrap;
  }

  .title {
    float: left;
    @media @mobile { float: none; }
  }

  .exif {
    float: right;
    @media @mobile { float: none; }

    span {
      margin: 0 4px;

      font-size: 0.8em;
      vertical-align: middle;
      font-family: "Ringside Narrow SSm A", "Ringside Narrow SSm B";
    }
  }
}
