img {
  width: 100%;
}

.photos {
  width: 100%;
  padding: 2vw;
  column-width: 30vw;
  column-gap: 3vw;
}

.photo {
  display: inline-block;
  width: 100%;
  margin: 0 0 20px;

  p {
    text-align: center;
    margin: 10px 0 0;
    letter-spacing: -0.03em;
  }
}
