<h2>License</h2>

<section>
  <p>Copyright &copy; Minku Lee. All Rights Reserved.</p>
</section>

<section>
  <p>35 is the collection of photos taken by <a href="https://premi.st" target="_blank">Minku Lee</a>.</p>
  <p>Most of the photos on 35 didn't just come straight from the camera. I spend many hours on capturing, but I also put lots of effort into organizing and developing photos so I can present them as lively and vibrant as possible.</p>
  <p>If you'd like to use my photos in any way(either commercial or non-commercial), reach me via public@premi.st and I will be happy to help.</p>
</section>

<section class="lang-ko">
  <p>35는 <a href="https://premi.st" target="_blank">이민구</a>가 촬영한 사진의 모음집입니다.</p>
  <p>35의 사진 대부분은 카메라에서 촬영한 후 바로 실린 것이 아닙니다. 사진을 최대한 생동감 있고 다채롭게 표현하기 위해 사진을 정리하고, 편집하는 데에도 많은 공을 들인 후 비로소 35에 싣게 됩니다. </p>
  <p>만약 제 사진을 영리 및 비영리적인 목적으로 사용하길 원하신다면, public@premi.st로 연락 주시면 최대한 도와드리겠습니다.</p>
</section>
